#pragma add "Application" "vmicheartbeat" 3221356546 1 0
#pragma add "Application" "vmicheartbeat" 3221356547 1 0
#pragma add "Application" "vmicheartbeat" 3221356548 1 0
#pragma add "Application" "vmicheartbeat" 3221356549 1 0
#pragma add "Application" "vmicheartbeat" 3221356550 1 0
#pragma add "Application" "vmicheartbeat" 3221356551 1 0
#pragma add "Application" "vmicheartbeat" 3221356553 1 0
#pragma add "Application" "vmicheartbeat" 3221356555 1 0
#pragma add "Application" "vmicheartbeat" 3221356556 1 0
#pragma add "Application" "vmicheartbeat" 3221356557 1 0
#pragma add "Application" "vmicheartbeat" 3221356558 1 0
#pragma add "Application" "vmicheartbeat" 3221356559 1 0
#pragma add "Application" "vmickvpexchange" 3221356546 1 0
#pragma add "Application" "vmickvpexchange" 3221356547 1 0
#pragma add "Application" "vmickvpexchange" 3221356548 1 0
#pragma add "Application" "vmickvpexchange" 3221356549 1 0
#pragma add "Application" "vmickvpexchange" 3221356550 1 0
#pragma add "Application" "vmickvpexchange" 3221356551 1 0
#pragma add "Application" "vmickvpexchange" 3221356553 1 0
#pragma add "Application" "vmickvpexchange" 3221356555 1 0
#pragma add "Application" "vmickvpexchange" 3221356556 1 0
#pragma add "Application" "vmickvpexchange" 3221356557 1 0
#pragma add "Application" "vmickvpexchange" 3221356558 1 0
#pragma add "Application" "vmickvpexchange" 3221356559 1 0
#pragma add "Application" "vmicrdv" 2147614721 1 0
#pragma add "Application" "vmicrdv" 3221356546 1 0
#pragma add "Application" "vmicrdv" 3221356547 1 0
#pragma add "Application" "vmicrdv" 3221356548 1 0
#pragma add "Application" "vmicrdv" 3221356549 1 0
#pragma add "Application" "vmicrdv" 3221356550 1 0
#pragma add "Application" "vmicrdv" 3221356551 1 0
#pragma add "Application" "vmicrdv" 3221356553 1 0
#pragma add "Application" "vmicrdv" 3221356555 1 0
#pragma add "Application" "vmicrdv" 3221356556 1 0
#pragma add "Application" "vmicrdv" 3221356557 1 0
#pragma add "Application" "vmicrdv" 3221356558 1 0
#pragma add "Application" "vmicrdv" 3221356559 1 0
#pragma add "Application" "vmicshutdown" 3221356546 1 0
#pragma add "Application" "vmicshutdown" 3221356547 1 0
#pragma add "Application" "vmicshutdown" 3221356548 1 0
#pragma add "Application" "vmicshutdown" 3221356549 1 0
#pragma add "Application" "vmicshutdown" 3221356550 1 0
#pragma add "Application" "vmicshutdown" 3221356551 1 0
#pragma add "Application" "vmicshutdown" 3221356553 1 0
#pragma add "Application" "vmicshutdown" 3221356555 1 0
#pragma add "Application" "vmicshutdown" 3221356556 1 0
#pragma add "Application" "vmicshutdown" 3221356557 1 0
#pragma add "Application" "vmicshutdown" 3221356558 1 0
#pragma add "Application" "vmicshutdown" 3221356559 1 0
#pragma add "Application" "vmictimesync" 3221356546 1 0
#pragma add "Application" "vmictimesync" 3221356547 1 0
#pragma add "Application" "vmictimesync" 3221356548 1 0
#pragma add "Application" "vmictimesync" 3221356549 1 0
#pragma add "Application" "vmictimesync" 3221356550 1 0
#pragma add "Application" "vmictimesync" 3221356551 1 0
#pragma add "Application" "vmictimesync" 3221356553 1 0
#pragma add "Application" "vmictimesync" 3221356555 1 0
#pragma add "Application" "vmictimesync" 3221356556 1 0
#pragma add "Application" "vmictimesync" 3221356557 1 0
#pragma add "Application" "vmictimesync" 3221356558 1 0
#pragma add "Application" "vmictimesync" 3221356559 1 0
