#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339584 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222405120 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222798336 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322624 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223388160 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222405121 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536193 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322625 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223388161 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223584769 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443201 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221487617 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291010 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222274050 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339586 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536194 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322626 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443202 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221487618 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222274051 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339587 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536195 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322627 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443203 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221487619 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291012 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339588 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536196 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322628 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223388164 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443204 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3372220420 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221487620 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339589 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536197 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223322629 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443205 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222536198 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443206 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291015 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443207 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221487623 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221749768 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443208 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221749769 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3223388169 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443209 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221749770 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339594 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443210 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339595 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443211 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291020 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339596 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443212 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291021 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221749773 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339597 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443213 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291023 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339599 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443215 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339600 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443216 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291025 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339601 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339602 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443218 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3355443219 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291028 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339604 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339605 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291030 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222339606 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291031 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291032 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291033 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291035 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291038 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291039 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291040 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291041 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291042 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291043 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291046 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291047 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291048 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221291050 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295104 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295105 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295107 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222278148 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222343687 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221491720 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3372224521 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3372224522 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3372224523 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3372224524 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295123 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295125 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3222343704 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295145 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295148 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295149 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-Licensing" 3221295150 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226494 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226496 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226500 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226507 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226508 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226513 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226515 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226518 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226522 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226523 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226524 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226525 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226526 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226527 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226528 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226529 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226530 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226531 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226532 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226533 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226534 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226535 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226536 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226537 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226538 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226539 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226542 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226543 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226600 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226601 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226602 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226603 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226604 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226605 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226624 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226625 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226626 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226627 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226628 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226629 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226630 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226631 1 0
#pragma add "System" "Microsoft-Windows-TerminalServices-RemoteConnectionManager" 3221226632 1 0
