#pragma add "System" "Microsoft-Windows-Directory-Services-SAM" 1342177282 1 0
#pragma add "System" "Microsoft-Windows-DiskDiagnostic" 1342177281 1 0
#pragma add "System" "Microsoft-Windows-DiskDiagnostic" 1342177282 1 0
#pragma add "System" "Microsoft-Windows-Eventlog" 3489660929 1 0
#pragma add "System" "Microsoft-Windows-Eventlog" 3489660930 1 0
#pragma add "System" "Microsoft-Windows-Eventlog" 3489660931 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660929 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660930 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660931 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660932 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660933 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660934 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660935 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660936 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660937 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660938 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660939 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660940 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660941 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660942 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660943 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660944 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660945 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660946 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660947 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660948 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660949 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660950 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660951 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660952 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660953 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660954 1 0
#pragma add "System" "Microsoft-Windows-GroupPolicy" 3489660955 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660929 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660930 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660931 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660932 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660933 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660934 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660935 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3489660936 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240472 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240473 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240474 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240475 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240476 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240477 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240478 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240481 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240482 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240483 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240484 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240485 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240486 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240488 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240489 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240490 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240493 1 0
#pragma add "System" "Microsoft-Windows-HttpEvent" 3221240494 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769793 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769794 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769795 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769796 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769797 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769798 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769799 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769800 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769801 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769802 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Boot" 3556769803 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769793 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769794 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769795 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769796 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769797 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769798 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769799 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769800 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769801 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769802 1 0
#pragma add "System" "Microsoft-Windows-Kernel-General" 3556769803 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660929 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660930 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660931 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660932 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660933 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660934 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660935 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660936 1 0
#pragma add "System" "Microsoft-Windows-Kernel-Power" 3489660937 1 0
#pragma add "System" "Microsoft-Windows-OfflineFiles" 1342177282 1 0
#pragma add "System" "Microsoft-Windows-Service Pack Installer" 1342177282 1 0
#pragma add "System" "Microsoft-Windows-Service Pack Installer" 1342177283 1 0
